<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Links Page</title>
    <link rel="stylesheet" href="{% static 'main.css' %}"> 
</head>
<body>
    <h1 class="be"> the best features of the internet</h1>
    <ul>
        <li> you can meet new people </li>
        <li> you can have access </li>
        <ul>
            <li> new games </li>
            <li> new appliation </li>
            <ol>
                <li> for bussiness </li>
                <li> for pleasure </li>    
            </ol>
        </ul>
        <li> links </li>
        <li> keeping in touch with old friend</li>
        <li> it is the technology of the future</li>
    </ul>
</body>
</html>
