<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Links Page</title>
    <link rel="stylesheet" href="{% static 'main.css' %}"> 
</head>
<body>
    <h1 class="ex">example formatting tags</h1>
    <p>this text has  <b>subtext</b> usgin b tag</p>
    <p>this text has <strong>subtext</strong> usgin strong tag</p>
    <p>this text has <i>subtext</i> usgin i tag</p>
    <p>this text has <em>subtext</em> usgin emphasize tag</p>
    <p>this text has <small>subtext</small> usgin small tag</p>
    <p>this text has <mark>subtext</mark> usgin mark tag</p>
    <p>this text has <del>subtext</del> usgin del tag</p>
    <p>this text has <ins>subtext</ins> usgin ins tag</p>
    <p>this text has X<sub>subtext</sub> usgin sub tag</p>
    <p>this text has X<sup>subtext</sup> usgin sup tag</p>

</body>
</html>
